{% if aside_featured_books is defined and aside_featured_books %}
    <div class="widget widget-featured">
        <div class="aside-widget-hd">
            <h4>{{ 'front.author_related'|trans }}</h4>
        </div>
        <div class="widget-padding">
            {% for aside_featured_book in aside_featured_books %}
                <div class="featured-dec3">
                    <figure>
                        <a href="/{{ aside_featured_book.path }}">
                            <img src="{{ aside_featured_book.cover_path is defined and aside_featured_book.cover_path ? aside_featured_book.cover_path|imagine_filter('book_list') : asset('compiled/images/no-cover-small.jpg') }}" alt="{{ aside_featured_book.title }}"/>
                        </a>
                    </figure>
                    <div class="text">
                        <a href="/{{ aside_featured_book.path }}">{{ aside_featured_book.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
