{% if slider_featured_books and slider_featured_books.count %}
    <section>
        <div class="container">
            <div class="heading-inner">
                <h2>{{ 'front.related_books'|trans }}</h2>
            </div>
            <div class="tabs-slider-wrap tabs-slider-wrap6">
                <div class="owl-carousel owl-theme" id="tabs-slider">
                    {% for slider_featured_book in slider_featured_books %}
                        <div class="item">
                            <div class="book-tab-dec">
                                <a href="/{{ slider_featured_book.path }}">
                                    <img class="owl-lazy" data-src="{{ slider_featured_book.cover_path is defined and slider_featured_book.cover_path ? slider_featured_book.cover_path|imagine_filter('book_list') : asset('compiled/images/no-cover-small.jpg') }}" alt="{{ locale_field(slider_featured_book, 'title') }}"/>
                                </a>
                                <div class="text">
                                    {% if slider_featured_book.genres is defined and slider_featured_book.genres %}
                                        {% set genre = slider_featured_book.genres|first %}
                                        <small>{{ locale_field(genre, 'title') }}</small>
                                    {% endif %}
                                    <div class="h5"><a href="/{{ slider_featured_book.path }}">{{ locale_field(slider_featured_book, 'title') }}</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
