<input type="hidden" name="page" id="page" value="{{ page }}">
{% if pagination.total_pages > 1 %}
    <!--KODDE PAGINATION START-->
    <div class="col-md-12">
        <div class="kf-pagination">
            <ul class="pagination">
                <li>
                    {% if pagination.current != 1 %}
                        {% if url_page == path('search') %}
                            {% set url = url_page %}
                        {% else %}
                            {% set url = url_page ~ pagination.prev %}
                        {% endif %}
                        <a href="{{ url }}" rel="{{ pagination.prev }}" class="pagination-link" aria-label="{{ 'front.pagination.previous'|trans }}">
                            <span aria-hidden="true">
                                <i class="fa fa-angle-left"></i>
                            </span>
                            <small class="page-label">
                                {{ 'front.pagination.previous'|trans }}
                            </small>
                        </a>
                    {% endif %}
                </li>

                {% for page in pagination.pages %}
                    {% if url_page == path('search') %}
                        {% set url = url_page %}
                    {% else %}
                        {% set url = url_page ~ page %}
                    {% endif %}
                    <li>
                        <a class="pagination-link{% if page == pagination.current %} active{% endif %}"
                                href="{{ url }}" rel="{{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}

                <li>
                    {% if pagination.current != pagination.last %}
                        {% if url_page == path('search') %}
                            {% set url = url_page %}
                        {% else %}
                            {% set url = url_page ~ pagination.next %}
                        {% endif %}
                        <a href="{{ url }}" rel="{{ pagination.next }}" class="pagination-link" aria-label="{{ 'front.pagination.next'|trans }}">
                            <span aria-hidden="true">
                                <i class="fa fa-angle-right"></i>
                            </span>
                            <small class="page-label">
                                {{ 'front.pagination.next'|trans }}
                            </small>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <!--KODDE PAGINATION END-->
{% endif %}