{% spaceless %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="utf-8">
        {% block meta %}
            <meta name="description" content="{{ meta_data.description|default('meta.description'|trans) }}">
            <meta name="keywords" content="{{ meta_data.keywords|default('meta.keywords'|trans) }}">
            <link rel="dns-prefetch" href="">
            <meta property="og:title" content=""/>
            <meta property="og:description" content="">
            <meta name="twitter:title" content=""/>
            <meta name="twitter:description" content="">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        <title>{% block title %}Falcon library{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                'bundles/app/css/bootstrap.min.css'
                'bundles/app/css/owl.carousel.css'
                'bundles/app/css/new-slider.css'
                'bundles/app/css/prettyPhoto.css'
                'bundles/app/css/jquery.bxslider.css'
                'bundles/app/css/font-awesome.min.css'
                'bundles/app/css/svg.css'
                'bundles/app/css/widget.css'
                'bundles/app/css/typography.css'
                'bundles/app/css/shortcodes.css'
                'bundles/app/css/style.css'
                'bundles/app/css/range-slider.css'
                'bundles/app/css/color.css'
                'bundles/app/css/selectric.css'
                'bundles/app/css/jquery.sidr.dark.css'
                'bundles/app/js/dl-menu/component.css'
                'bundles/app/css/responsive.css'
                filter='cssrewrite' filter='scssphp' output='css/styles.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block favicons %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>

    <body>
        <div class="kode_wrapper">
            {%- block header %}
                {% include '@App/Elements/Header/header.html.twig' %}
            {%- endblock header %}

            {% block body %}{% endblock %}

            {%- block footer %}
                {% include '@App/Elements/Footer/footer.html.twig' %}
            {%- endblock footer %}

            {% block javascripts %}
                {% javascripts
                    'bundles/app/js/jquery.js'
                    'bundles/app/js/bootstrap.min.js'
                    'bundles/app/js/range-slider.js'
                    'bundles/app/js/jquery.bxslider.min.js'
                    'bundles/app/js/owl.carousel.min.js'
                    'bundles/app/js/new-slider.min.js'
                    'bundles/app/js/jquery.prettyPhoto.js'
                    'bundles/app/js/jquery.downCount.js'
                    'bundles/app/js/waypoints-min.js'
                    'bundles/app/js/jquery.selectric.min.js'
                    'bundles/app/js/jquery.accordion.js'
                    'bundles/app/js/jprogress.js'
                    'bundles/app/js/dl-menu/modernizr.custom.js'
                    'bundles/app/js/dl-menu/jquery.dlmenu.js'
                    'bundles/app/js/jquery.sidr.min.js'
                    'bundles/app/js/masonry.min.js'
                    'bundles/app/js/custom.js'
                    filter='?jsqueeze' output='js/scripts.js' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
        </div>

    {% block analytics %}{% endblock %}
    {% block counters %}{% endblock %}
    </body>
    </html>
{% endspaceless %}