{% spaceless %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        {% block title %}{{ sonata_seo_title() }}{% endblock %}
        {% block meta %}
            <link rel="dns-prefetch" href="">
            <meta property="og:title" content=""/>
            <meta property="og:description" content="">
            <meta name="twitter:title" content=""/>
            <meta name="twitter:description" content="">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {{ sonata_seo_metadatas() }}
        {% endblock meta %}

        {% block stylesheets %}
            {% stylesheets
                '@AppBundle/Resources/public/css/bootstrap.min.css'
                '@AppBundle/Resources/public/css/owl.carousel.css'
                '@AppBundle/Resources/public/css/new-slider.css'
                '@AppBundle/Resources/public/css/jquery.bxslider.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
                '@AppBundle/Resources/public/css/svg.css'
                '@AppBundle/Resources/public/css/widget.css'
                '@AppBundle/Resources/public/css/typography.css'
                '@AppBundle/Resources/public/css/shortcodes.css'
                '@AppBundle/Resources/public/css/style.css'
                '@AppBundle/Resources/public/css/range-slider.css'
                '@AppBundle/Resources/public/css/color.css'
                '@AppBundle/Resources/public/css/selectric.css'
                '@AppBundle/Resources/public/css/jquery.sidr.dark.css'
                '@AppBundle/Resources/public/js/dl-menu/component.css'
                '@AppBundle/Resources/public/css/responsive.css'
                filter='scssphp' output='compiled/css/styles.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block favicons %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>

    <body>
        <div class="kode_wrapper">
            {%- block header %}
                {% include '@App/Elements/Header/header.html.twig' %}
            {%- endblock header %}

            {% block body %}{% endblock %}

            {%- block footer %}
                {% include '@App/Elements/Footer/footer.html.twig' %}
            {%- endblock footer %}

            {% block javascripts %}
                {% javascripts
                    '@AppBundle/Resources/public/js/jquery.js'
                    '@AppBundle/Resources/public/js/bootstrap.min.js'
                    '@AppBundle/Resources/public/js/range-slider.js'
                    '@AppBundle/Resources/public/js/jquery.bxslider.min.js'
                    '@AppBundle/Resources/public/js/owl.carousel.min.js'
                    '@AppBundle/Resources/public/js/new-slider.min.js'
                    '@AppBundle/Resources/public/js/waypoints-min.js'
                    '@AppBundle/Resources/public/js/jquery.selectric.min.js'
                    '@AppBundle/Resources/public/js/jquery.accordion.js'
                    '@AppBundle/Resources/public/js/jprogress.js'
                    '@AppBundle/Resources/public/js/dl-menu/modernizr.custom.js'
                    '@AppBundle/Resources/public/js/dl-menu/jquery.dlmenu.js'
                    '@AppBundle/Resources/public/js/jquery.sidr.min.js'
                    '@AppBundle/Resources/public/js/masonry.min.js'
                    '@AppBundle/Resources/public/js/custom.js'
                    filter='?jsqueeze' output='compiled/js/scripts.js' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
        </div>

    {% block analytics %}{% endblock %}
    {% block counters %}{% endblock %}
    </body>
    </html>
{% endspaceless %}