{% include '@App/Elements/View/view-toggle.html.twig' %}

<div class="blog-grid3">
    <div class="row">
        {% if books|length > 0 %}
            {% for book in books %}
                <div class="col-md-4 col-sm-6">
                    <div class="book-tab-dec">
                        {% if book.cover_path is defined %}
                            <figure>
                                <a href="/{{ book.path }}">
                                    <img src="{{ book.cover_path|imagine_filter('book_list') }}" alt=""/>
                                </a>
                                {% if book.type == constant('AppBundle\\Entity\\Book::TYPE_AUDIO') %}
                                    <figcaption class="ribbon-wrap">
                                        <span class="ribbon new">{{ 'front.audiobook'|trans }}</span>
                                    </figcaption>
                                {% endif %}
                            </figure>
                        {% endif %}
                        <div class="text">
                            {% if show_genre is defined and show_genre and book.genres|length > 0 %}
                                {% set genre = book.genres|first %}
                                <small><a href="/{{ genre.path }}">{{ genre.title }}</a></small>
                            {% endif %}
                            {% if show_author is defined and show_author and book.authors|length > 0 %}
                                {% set author = book.authors|first %}
                                <small><a href="/{{ author.path }}">{{ author.full_name }}</a></small>
                            {% endif %}
                            <h4><a href="/{{ book.path }}">{{ book.title }}</a></h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {{ 'front.no_results'|trans }}
        {% endif %}
    </div>
</div>

{% include '@App/Elements/pagination.html.twig' %}