{% include '@App/Elements/View/view-toggle.html.twig' %}

<div class="blog-grid3">
    <div class="row">
        {% if books|length > 0 %}
            {% for book in books %}
                <div class="col-md-4 col-sm-6">
                    <div class="book-tab-dec">
                        <figure>
                            <a href="/{{ book.path }}">
                                <img src="{{ book.cover_path is defined and book.cover_path
                                ? book.cover_path|imagine_filter('book_list')
                                : asset('compiled/images/no-cover-small.jpg') }}" alt="{{ locale_field(book, 'title') }}" />
                            </a>
                        </figure>
                        <div class="text">
                            {% if show_genre is defined and show_genre and book.genres|length > 0 %}
                                {% set genre = book.genres|first %}
                                <small><a href="/{{ locale_field(genre, 'path') }}">{{ locale_field(genre, 'title') }}</a></small>
                            {% endif %}
                            {% if show_author is defined and show_author and book.authors|length > 0 %}
                                {% set author = book.authors|first %}
                                <small><a href="/{{ author.path }}">{{ locale_field(author, 'full_name') }}</a></small>
                            {% endif %}
                            <div class="h4"><a href="/{{ book.path }}">{{ locale_field(book, 'title')|truncate(65) }}</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {{ 'front.no_results'|trans }}
        {% endif %}
    </div>
</div>

{% include '@App/Elements/pagination.html.twig' %}