{% include '@App/Elements/View/view-toggle.html.twig' %}

<div class="blog-list-wrap">
    <div class="blog-list-style">
        {% if books|length > 0 %}
            {% for book in books %}
                <div class="list-style-dec list-style-dec2">
                    <div class="blog-thumb">
                        {% if book.cover_path is defined %}
                            <figure>
                                <a href="/{{ book.path }}">
                                    <img src="{{ book.cover_path|imagine_filter('book_list') }}" alt="">
                                </a>
                                {% if book.type == constant('AppBundle\\Entity\\Book::TYPE_AUDIO') %}
                                    <figcaption class="ribbon-wrap">
                                        <span class="ribbon new">{{ 'front.audiobook'|trans }}</span>
                                    </figcaption>
                                {% endif %}
                            </figure>
                            <div class="blog-thumb-dec">
                                <a href="/{{ book.path }}"><i class="fa fa-book"></i></a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="text">
                        <div class="blog1-hd">
                            <h3><a href="/{{ book.path }}">{{ book.title }}</a></h3>
                            {% if show_genre is defined and show_genre and book.genres|length > 0 %}
                                {% set genre = book.genres|first %}
                                <a href="/{{ genre.path }}">{{ genre.title }}</a>
                            {% endif %}
                            {% if show_author is defined and show_author and book.authors|length > 0 %}
                                {% set author = book.authors|first %}
                                <a href="/{{ author.path }}">{{ author.full_name }}</a>
                            {% endif %}
                        </div>
                        {% if book.annotation is defined %}
                            {{ book.annotation|raw }}
                        {% endif %}
                        <div class="clear"></div>
                        <a class="btn-3" href="/{{ book.path }}">{{ 'front.to_book'|trans }}</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {{ 'front.no_results'|trans }}
        {% endif %}
    </div>
</div>

{% include '@App/Elements/pagination.html.twig' %}