{% set select_options = {
    (constant('AppBundle\\Model\\QueryParams::SORT_NO')): 'front.sort.no_sort'|trans,
    (constant('AppBundle\\Model\\QueryParams::SORT_ADDED_ON_DESC')): 'front.sort.new_arrivals'|trans,
    (constant('AppBundle\\Model\\QueryParams::SORT_RATING_DESC')): 'front.sort.popular'|trans
} %}

<div class="filter-wrap">
    <div class="row">
        <div class="col-md-5">
            {% if sort_order is defined %}
                <div class="selectric-dec">
                    <div class="selectric-block">
                        <span>{{ 'front.sort.sorting'|trans }}</span>
                        <select>
                            {% for value, select_option in select_options %}
                                <option value="{{ value }}"
                                        {% if sort_order is defined and sort_order == value %} selected{% endif %}>
                                    {{ select_option }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="tab-dec">
                <ul class="nav nav-tabs" role="tablist">
                    {% set currentUrl = app.request.pathInfo %}
                    <li role="presentation"{% if view == 'list'%} class="active"{% endif %}>
                        <a class="pageview" data-view="list" href="{{ currentUrl }}">
                            <i class="fa fa-th-list"></i>
                        </a>
                    </li>
                    <li role="presentation"{% if view == 'column'%} class="active"{% endif %}>
                        <a class="pageview" data-view="column" href="{{ currentUrl }}">
                            <i class="fa fa-th-large"></i>
                        </a>
                    </li>
                    <li role="presentation"{% if view == 'grid'%} class="active"{% endif %}>
                        <a class="pageview" data-view="grid" href="{{ currentUrl }}">
                            <i class="fa fa-th"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
