{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<!--CUSTOMER CARE WRAP START-->
<div class="kf_content_wrap">
    <section>
        <div class="container">
            <!--HEADING 1 START-->
            <div class="heading-1">
                <h2>{{ 'front.featured_books'|trans }}</h2>
                <span>Lorem ipsum dolor sit consectetuer</span>
            </div>
            <!--HEADING 1 END-->
            <div class="featured-slider">
                <div class="row">
                    <div id="owl-demo-featured" class="owl-carousel owl-theme">
                        {% for featured_book in featured_books %}
                            <!--FEATURED DEC START-->
                            <div class="item">
                                <div class="featured-dec">
                                    {% if featured_book.cover_path %}
                                        <figure>
                                            <a href="/{{ featured_book.path }}">
                                                <img src="{{ featured_book.cover_path|imagine_filter('book_list') }}" alt=""/>
                                            </a>
                                        </figure>
                                    {% endif %}
                                    <div class="text">
                                        <div class="text-dec">
                                            {% if featured_book.genres %}
                                                {% set genre = featured_book.genres|first %}
                                                <ul class="tags-2">
                                                    <li><a href="/{{ genre.path }}">{{ genre.title }}</a></li>
                                                </ul>
                                            {% endif %}
                                            {% if featured_book.authors %}
                                                {% set author = featured_book.authors|first %}
                                                <ul class="tags-2">
                                                    <li><a href="/{{ author.path }}">{{ author.short_name }}</a></li>
                                                </ul>
                                            {% endif %}
                                            <h5><a href="/{{ featured_book.path }}">{{ featured_book.title }}</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--FEATURED DEC END-->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slider-1">
        <div class="container">
            <!--HEADING 2 START-->
            <div class="heading-3">
                <h2>STAFF RECOMENDED BOOKS</h2>
                <span>Lorem ipsum dolor sit consectetuer</span>
            </div>
            <!--HEADING 2 END-->
            <div class="soap-gallery carousel-style1 carousel box" data-front-width="250" data-front-height="366" data-slides="7" data-vAlign="top">
                <div class="slides">
                    <div>
                        <a href="#"><img src="" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="shade">

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="tabs-wrap1">
                <ul class="nav nav-tabs books-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">New Arrivals</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Best Sellers</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <!--TABS SLIDER START-->
                        <div class="tabs-slider-wrap">
                            <div class="row">
                                <div id="tabs-slider" class="owl-carousel owl-theme">
                                    <!--BOOK DEC START-->
                                    <div class="item">
                                        <div class="book-tab-dec">
                                            <figure>
                                                <img src="" alt=""/>
                                                <figcaption class="ribbon-wrap">
                                                    <span class="ribbon">Sale</span>
                                                </figcaption>
                                            </figure>
                                            <div class="text">
                                                <small>Women1</small>
                                                <h5><a href="#">Foget Her Notes</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!--BOOK DEC END-->
                                </div>
                            </div>
                        </div>
                        <!--TABS SLIDER END-->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <!--TABS SLIDER START-->
                        <div class="tabs-slider-wrap">
                            <div class="row">
                                <div id="tabs-slider2" class="owl-carousel owl-theme">
                                    <!--BOOK DEC START-->
                                    <div class="item">
                                        <div class="book-tab-dec">
                                            <figure>
                                                <img src="" alt=""/>
                                                <figcaption class="ribbon-wrap">
                                                    <span class="ribbon">Sale</span>
                                                </figcaption>
                                            </figure>
                                            <div class="text">
                                                <small>Women2</small>
                                                <h5><a href="#">Foget Her Notes</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!--BOOK DEC END-->
                                </div>
                            </div>
                        </div>
                        <!--TABS SLIDER END-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <!--FEATURED AUTHOR START-->
            <div class="featured-author">
                <!-- AUTHOR START-->
                <div class="author-1">
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <div class="text">
                        <!--HEADING 2 START-->
                        <div class="heading-2">
                            <h2>Featured AUTHOR</h2>
                            <span>Best of Stephem Johns</span>
                        </div>
                        <!--HEADING 2 END-->
                        <div class="text-2">
                            <h3><a href="#">Stephen John</a></h3>
                            <span>Book Writer - Fiction</span>
                            <p>Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. </p>
                            <p>Phasellus quis ipsum in lacus accumsan posuere eu vel nunc phasellus vitae odio risus.</p>
                            <em>Stephen Johns</em>
                        </div>
                        <!--SOCIAL 2 START-->
                        <ul class="social-2">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                        <!--SOCIAL 2 END-->
                    </div>
                </div>
                <!-- AUTHOR END-->
            </div>
            <div class="authorbook-slider">
                <h5>Books by<span> Same author</span></h5>
                <ul class="bxslider">
                    <li>
                        <div class="author-book margin-bottom">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <a class="readmore2" href="#">READ NOW<i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="author-book">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <a class="readmore2" href="#">READ NOW<i class="fa fa-angle-right"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--FEATURED AUTHOR END-->
        </div>
    </section>
</div>
{% endblock %}
