{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/new-slider.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/new-slider.css') }}" />
{% endblock %}

{% block body %}
<div class="kf_content_wrap">
    <section class="slider-1">
        <div class="container">
            <div class="heading-3">
                <h2>{{ 'front.featured_books'|trans }}</h2>
            </div>
            <div class="soap-gallery carousel-style1 carousel box" data-front-width="250" data-front-height="366" data-slides="5" data-vAlign="top">
                <div class="slides">
                    {% for featured_book in featured_books %}
                        {% if featured_book.cover_path is defined %}
                            <div>
                                <a href="/{{ featured_book.path }}">
                                    <img src="{{ featured_book.cover_path|imagine_filter('book_list') }}" alt="{{ featured_book.title }}">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="shade"></div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="tabs-wrap1">
                <ul class="nav nav-tabs books-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">{{ 'front.new_arrivals'|trans }}</a></li>
                    <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">{{ 'front.popular_books'|trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="new">
                        <div class="tabs-slider-wrap">
                            <div class="row">
                                <div id="tabs-slider" class="owl-carousel owl-theme">
                                    {% for new_arrivals_book in new_arrivals_books %}
                                        {% if new_arrivals_book.cover_path is defined %}
                                            <div class="item">
                                                <div class="book-tab-dec">
                                                    <a href="/{{ new_arrivals_book.path }}">
                                                        <img class="owl-lazy" data-src="{{ new_arrivals_book.cover_path|imagine_filter('book_list') }}" alt="{{ new_arrivals_book.title }}"/>
                                                    </a>
                                                    <div class="text">
                                                        {% if new_arrivals_book.authors %}
                                                            {% set author = new_arrivals_book.authors|first %}
                                                            <small><a href="/{{ author.path }}">{{ author.short_name }}</a></small>
                                                        {% endif %}
                                                        <div class="h5"><a href="/{{ new_arrivals_book.path }}">{{ new_arrivals_book.title }}</a></div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="popular">
                        <div class="tabs-slider-wrap">
                            <div class="row">
                                <div id="tabs-slider" class="owl-carousel owl-theme">
                                    {% for popular_book in popular_books %}
                                        {% if popular_book.cover_path is defined %}
                                            <div class="item">
                                                <div class="book-tab-dec">
                                                    <a href="/{{ popular_book.path }}">
                                                        <img class="owl-lazy" data-src="{{ popular_book.cover_path|imagine_filter('book_list') }}" alt="{{ popular_book.title }}"/>
                                                    </a>
                                                    <div class="text">
                                                        {% if popular_book.authors %}
                                                            {% set author = popular_book.authors|first %}
                                                            <small><a href="/{{ author.path }}">{{ author.short_name }}</a></small>
                                                        {% endif %}
                                                        <div class="h5"><a href="/{{ popular_book.path }}">{{ popular_book.title }}</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
