{% if not app.user %}
    <div class="modal fade" id="signin-box" tabindex="-1" role="dialog">
        <div class="modal-dialog login1">
            <div class="modal-content">
                {{ 'front.social_sign_in'|trans }}
                <div class="user-box">
                        <ul class="social-1">
                            <li><a href="{{ path('vkontakte_login') }}"><i class="fa fa-vk"></i></a></li>
                            <li><a href="{{ path('google_login') }}"><i class="fa fa-google"></i></a></li>
                            <li><a href="{{ path('yandex_login') }}"><i class="fa fa-yahoo"></i></a></li>
                        </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endif %}
<header class="header-1">
        <div class="top-bar">
            <div class="container">
                <div class="pull-right">
                    <div class="user-wrap">
                        <div class="user-dec">
                            {% if app.user %}
                                <a href="{{ path('user_profile') }}">{{ 'front.profile.title'|trans }}</a>
                                <i class="fa fa-user"></i>
                                <a href="{{ path('front_logout') }}">{{ 'front.sign_out'|trans }}</a>
                                <i class="fa fa-sign-out"></i>
                            {% else %}
                                <a href="#" data-toggle="modal" data-target="#signin-box">{{ 'front.sign_in'|trans }}</a>
                                <i class="fa fa-sign-in"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="logo-wrap">
        <div class="container">
            <div class="logo-dec">
                <a href="{{ path('site_index') }}"><img src="{{ asset('compiled/images/logo.png') }}" alt="{{ 'front.index_page.title'|trans }}"/></a>
            </div>
            <div class="cart-wrap">
                <div id="kode-responsive-navigation" class="dl-menuwrapper">
                    <button class="dl-trigger">{{ 'front.open_menu'|trans }}</button>
                    <ul class="dl-menu">
                        <li class="menu-item kode-parent-menu"><a href="{{ path('site_index') }}">{{ 'front.main'|trans }}</a></li>
                        <li class="menu-item kode-parent-menu"><a href="{{ path('search_page') }}">{{ 'front.search'|trans }}</a></li>
                        <li class="menu-item kode-parent-menu"><a href="#">{{ 'front.popular'|trans }}</a>
                            <ul class="dl-submenu">
                                <li><a href="{{ path('new_books') }}">{{ 'front.new_books'|trans }}</a>
                                <li><a href="{{ path('popular_books') }}">{{ 'front.popular_books'|trans }}</a>
                                <li><a href="{{ path('tags') }}">{{ 'front.tags'|trans }}</a>
                            </ul>
                        </li>
                        <li class="menu-item kode-parent-menu"><a href="#">{{ 'front.genres'|trans }}</a>
                            {{ mobile_menu()|raw }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {% if show_genres_in_menu is defined and show_genres_in_menu %}
                        {{ main_menu()|raw }}
                    {% endif %}
                    <ul class="nav-dec">
                        <li><a href="{{ path('site_index') }}">{{ 'front.main'|trans }}</a></li>
                        <li>
                            <a href="#">{{ 'front.popular'|trans }}</a>
                            <ul>
                                <li><a href="{{ path('new_books') }}">{{ 'front.new_books'|trans }}</a>
                                <li><a href="{{ path('popular_books') }}">{{ 'front.popular_books'|trans }}</a>
                                <li><a href="{{ path('tags') }}">{{ 'front.tags'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <form id="search" action="{{ path('search') }}">
                        <div class="nav-search">
                            <div class="input-dec2">
                                <input type="text" name="query" id="search-query" autofocus
                                       placeholder="{{ 'front.search'|trans }}" value="{{ query|default('') }}">
                                <button><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

{% if breadcrumbs is defined %}
    <div class="inner-banner">
        <div class="container">
            <div class="inner-banner-dec">
                <ol class="breadcrumb">
                    {% for item in breadcrumbs %}
                        <li{% if loop.last %} class="active"{% endif %}>
                            {% if item.url is defined %}<a href="{{ item.url }}">{% endif %}
                                {{ item.name }}
                            {% if item.url is defined %}</a>{% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endif %}