<!-- register Modal -->
<div class="modal fade" id="reg-box" tabindex="-1" role="dialog">
    <div class="modal-dialog login1">
        <div class="modal-content">
            <div class="user-box">
                <!--FORM FIELD START-->
                <form>
                    <div class="input-dec3">
                        <input type="text" placeholder="{{ 'front.email'|trans }}">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="input-dec3">
                        <input type="text" placeholder="{{ 'front.password'|trans }}">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="dialog-footer">
                        <button class="dialog-button">{{ 'front.register'|trans }}</button>
                    </div>
                </form>
                <!--FORM FIELD END-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- register Modal end-->

<!-- SIGNIN MODEL START -->
<div class="modal fade" id="signin-box" tabindex="-1" role="dialog">
    <div class="modal-dialog login1">
        <div class="modal-content">
            <div class="user-box">
                <!--FORM FIELD START-->
                <form>
                    <div class="input-dec3">
                        <input type="text" placeholder="{{ 'front.email'|trans }}">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="input-dec3">
                        <input type="text" placeholder="{{ 'front.password'|trans }}">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="dialog-footer">
                        <button class="dialog-button">{{ 'front.login'|trans }}</button>
                        <a href="#">{{ 'front.forgot_pass'|trans }}<i class="fa fa-question-circle"></i></a>
                    </div>
                </form>
                <!--FORM FIELD END-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- SIGNIN MODEL END -->
<!--HEADER START-->
<header class="header-1">
    <!--TOP BAR START START-->
    <div class="top-bar">
        <div class="container">
            <div class="pull-right">
                <div class="user-wrap">
                    <div class="user-dec">
                        <i class="fa fa-sign-in"></i>
                        <a href="#" data-toggle="modal" data-target="#signin-box">{{ 'front.sign_in'|trans }}</a>
                        <a href="#" data-toggle="modal" data-target="#reg-box">{{ 'front.register'|trans }}</a>
                    </div>
                </div>
                <ul class="social-1">
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-yahoo"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--TOP BAR END-->
    <!--LOGO WRAP START-->
    <div class="logo-wrap">
        <div class="container">
            <!--LOGO DEC START-->
            <div class="logo-dec">
                <a href="{{ path('site_index') }}"><img src="{{ asset('compiled/images/logo.png') }}" alt=""/></a>
            </div>
            <!--LOGO DEC END-->
            <!--CART WRAP START-->
            <div class="cart-wrap">
                <!--Mobile Menu Start-->
                <div id="kode-responsive-navigation" class="dl-menuwrapper">
                    <button class="dl-trigger">{{ 'front.open_menu'|trans }}</button>
                    <ul class="dl-menu">
                        <li class="menu-item kode-parent-menu"><a href="/">{{ 'front.main'|trans }}</a></li>
                        <li class="menu-item kode-parent-menu"><a href="{{ path('search_page') }}">{{ 'front.search'|trans }}</a></li>
                        <li class="menu-item kode-parent-menu"><a href="#">{{ 'front.popular'|trans }}</a>
                            <ul class="dl-submenu">
                                <li><a href="{{ path('new_books') }}">{{ 'front.new_books'|trans }}</a>
                                <li><a href="{{ path('tags') }}">{{ 'front.tags'|trans }}</a>
                            </ul>
                        </li>
                        <li class="menu-item kode-parent-menu"><a href="#">{{ 'front.genres'|trans }}</a>
                            {{ mobile_menu()|raw }}
                        </li>
                    </ul>
                </div>
                <!--Mobile Menu END-->
            </div>
            <!--CART WRAP END-->
        </div>
    </div>
    <!--LOGO WRAP END-->
    <!--NAVIGATION WRAP START-->
    <div class="navigation-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {% if show_genres_in_menu is defined and show_genres_in_menu %}
                        {{ main_menu()|raw }}
                    {% endif %}
                    <!--NAVIGATION DEC START-->
                    <ul class="nav-dec">
                        <li><a href="{{ path('site_index') }}">{{ 'front.main'|trans }}</a></li>
                        <li>
                            <a href="#">{{ 'front.popular'|trans }}</a>
                            <ul>
                                <li><a href="{{ path('new_books') }}">{{ 'front.new_books'|trans }}</a>
                                <li><a href="{{ path('tags') }}">{{ 'front.tags'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <form id="search" action="{{ path('search') }}">
                        <div class="nav-search">
                            <div class="input-dec2">
                                <input type="text" name="query" id="search-query" autofocus
                                       placeholder="{{ 'front.search'|trans }}" value="{{ query|default('') }}">
                                <button><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--NAVIGATION DEC END-->
        </div>
    </div>
    <!--NAVIGATION WRAP END-->
</header>
<!--HEADER END-->

{% if breadcrumbs is defined %}
    <div class="inner-banner">
        <div class="container">
            <div class="inner-banner-dec">
                <ol class="breadcrumb">
                    {% for item in breadcrumbs %}
                        <li{% if loop.last %} class="active"{% endif %}>
                            {% if item.url is defined %}<a href="{{ item.url }}">{% endif %}
                                {{ item.name }}
                            {% if item.url is defined %}</a>{% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endif %}