{#<header>#}
    {#<div class="header-top">#}
        {#{% block logo %}#}
            {#<div class="logo"></div>#}
        {#{% endblock %}#}

        {#{% block search %}#}
            {#<div class="search"></div>#}
        {#{% endblock %}#}

        {#{% block userMenu %}#}
            {#<div class="user"></div>#}
        {#{% endblock %}#}
    {#</div>#}

    {#<nav class="breadcrumbs">#}
        {#{% block breadcrumbs %}#}
            {#<ul itemscope itemtype="http://schema.org/BreadcrumbList" class="items">#}
                {#<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="item">#}
                    {#<a itemprop="item" href="/">#}
                        {#<span itemprop="name" class="item-name"></span>#}
                    {#</a>#}
                    {#<meta itemprop="position" content="1" />#}
                {#</li>#}
            {#</ul>#}
        {#{% endblock %}#}
    {#</nav>#}
{#</header>#}

<!-- register Modal -->
<div class="modal fade" id="reg-box" tabindex="-1" role="dialog">
    <div class="modal-dialog login1">
        <div class="modal-content">
            <div class="user-box">
                <!--FORM FIELD START-->
                <form>
                    <div class="input-dec3">
                        <input type="text" placeholder="E-mail">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="input-dec3">
                        <input type="text" placeholder="Password">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="dialog-footer">
                        <button class="dialog-button">Register</button>
                    </div>
                </form>
                <!--FORM FIELD END-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- register Modal end-->

<!-- SIGNIN MODEL START -->
<div class="modal fade" id="signin-box" tabindex="-1" role="dialog">
    <div class="modal-dialog login1">
        <div class="modal-content">
            <div class="user-box">
                <!--FORM FIELD START-->
                <form>
                    <div class="input-dec3">
                        <input type="text" placeholder="E-mail">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="input-dec3">
                        <input type="text" placeholder="Password">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="dialog-footer">
                        <button class="dialog-button">Login</button>
                        <a href="#">Forgot Password<i class="fa fa-question-circle"></i></a>
                    </div>
                </form>
                <!--FORM FIELD END-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- SIGNIN MODEL END -->
<!--HEADER START-->
<header class="header-1">
    <!--TOP BAR START START-->
    <div class="top-bar">
        <div class="container">
            <div class="pull-left">
                <ul>
                    <li><i class="fa fa-paper-plane"></i><a href="#">Free shipping on orders above $100</a></li>
                    <li>
                        <!-- Single button -->
                        <div class="dropdown lang-wrap">
                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-globe"></i>
                                English
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="#"><img src="{{ asset('bundles/app/images/laung-1.jpg') }}" alt="">English (UK)</a></li>
                                <li><a href="#"><img src="{{ asset('bundles/app/images/laung-2.jpg') }}" alt="">English (US)</a></li>
                                <li><a href="#"><img src="{{ asset('bundles/app/images/laung-3.jpg') }}" alt="">German</a></li>
                                <li><a href="#"><img src="{{ asset('bundles/app/images/laung-4.jpg') }}" alt="">Russian</a></li>
                                <li><a href="#"><img src="{{ asset('bundles/app/images/laung-5.jpg') }}" alt="">Chinese</a></li>
                                <li><a href="#"><img src="{{ asset('bundles/app/images/laung-6.jpg') }}" alt="">Philippines</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pull-right">
                <div class="user-wrap">
                    <div class="wishlist-wrap">
                        <i class="fa fa-heart"></i>
                        <!-- Single button -->
                        <div class="dropdown">
                            <em>Wishlist:</em>
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                0 items
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="user-dec">
                        <i class="fa fa-sign-in"></i>
                        <a href="#" data-toggle="modal" data-target="#signin-box">Sign In</a>
                        <a href="#" data-toggle="modal" data-target="#reg-box">Register</a>
                    </div>
                </div>
                <ul class="social-1">
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-yahoo"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--TOP BAR END-->
    {{ main_menu()|raw }}
</header>
<!--HEADER END-->

<div class="main-banner">
    <ul class="bxslider">
        <li>
            <div class="slider-outer">
                <div class="bx-slider-wrap">
                    <div class="container">
                        <img class="image-1" src="{{ asset('bundles/app/images/slider-1-1.png') }}" alt=""/>
                        <div class="slider-caption">
                            <div class="caption-dec">
                                <h5>BEST SELLERS ON SALE</h5>
                                <h3>UPTO 50% OFF</h3>
                                <h4>+EXTRA 10% OFF</h4>
                                <h6>Use Coupon Code : BSB20010K16</h6>
                            </div>
                            <a href="#">BUY NOW</a>
                        </div>
                        <img class="image-2" src="{{ asset('bundles/app/images/slider-1-2.png') }}" alt=""/>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="slider-outer">
                <div class="bx-slider-wrap">
                    <div class="container">
                        <img class="image-1" src="{{ asset('bundles/app/images/slider-1-1.png') }}" alt=""/>
                        <div class="slider-caption">
                            <div class="caption-dec">
                                <h5>BEST SELLERS ON SALE</h5>
                                <h3>UPTO 50% OFF</h3>
                                <h4>+EXTRA 10% OFF</h4>
                                <h6>Use Coupon Code : BSB20010K16</h6>
                            </div>
                            <a href="#">BUY NOW</a>
                        </div>
                        <img class="image-2" src="{{ asset('bundles/app/images/slider-1-2.png') }}" alt=""/>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="slider-outer">
                <div class="bx-slider-wrap">
                    <div class="container">
                        <img class="image-1" src="{{ asset('bundles/app/images/slider-1-1.png') }}" alt=""/>
                        <div class="slider-caption">
                            <div class="caption-dec">
                                <h5>BEST SELLERS ON SALE</h5>
                                <h3>UPTO 50% OFF</h3>
                                <h4>+EXTRA 10% OFF</h4>
                                <h6>Use Coupon Code : BSB20010K16</h6>
                            </div>
                            <a href="#">BUY NOW</a>
                        </div>
                        <img class="image-2" src="{{ asset('bundles/app/images/slider-1-2.png') }}" alt=""/>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--CUSTOMER CARE WRAP START-->
<div class="cstmr-cre-wrap">
    <div class="container">
        <div class="row">
            <!--CUSTOMER CARE DEC START-->
            <div class="col-md-3 col-sm-6">
                <div class="cstmr-dec">
                    <span class="icon-truck-icon"></span>
                    <div class="text">
                        <h5><a href="#">30-dayy Return</a></h5>
                        <p>Money back gaurantee</p>
                    </div>
                </div>
            </div>
            <!--CUSTOMER CARE DEC END-->
            <!--CUSTOMER CARE DEC START-->
            <div class="col-md-3 col-sm-6">
                <div class="cstmr-dec">
                    <span class="icon-phone-call"></span>
                    <div class="text">
                        <h5><a href="#">Free Shipping</a></h5>
                        <p>On orders above $100</p>
                    </div>
                </div>
            </div>
            <!--CUSTOMER CARE DEC END-->
            <!--CUSTOMER CARE DEC START-->
            <div class="col-md-3 col-sm-6">
                <div class="cstmr-dec">
                    <span class="icon-calendar-1"></span>
                    <div class="text">
                        <h5><a href="#">customer care</a></h5>
                        <p>Help and feedback</p>
                    </div>
                </div>
            </div>
            <!--CUSTOMER CARE DEC END-->
            <!--CUSTOMER CARE DEC START-->
            <div class="col-md-3 col-sm-6">
                <div class="cstmr-dec">
                    <span class="icon-security"></span>
                    <div class="text">
                        <h5><a href="#">safe Shipping</a></h5>
                        <p>Safe shopping gaurantee</p>
                    </div>
                </div>
            </div>
            <!--CUSTOMER CARE DEC END-->
        </div>
    </div>
</div>