<div class="categories-menu">
    <span>{{ 'front.genres'|trans }}</span>
    <i class="fa fa-reorder show"></i>
    <ul class="categories-ul">
        {% for parentGenre in parentGenres %}
            {% if genres[parentGenre.id] is defined %}
                {% set childGenres = genres[parentGenre.id] %}
            {% else %}
                {% set childGenres = [] %}
            {% endif %}
            {% if childGenres %}
                <li><a href="#"><i class="fa fa-book"></i>{{ locale_field(parentGenre, 'title') }}</a>
                    <div class="mega-menu1">
                        <div class="fetch-bookmeta">
                            <ul>
                                <li class="fetch-book2">
                                    <div class="h4">{{ 'front.genres'|trans }}</div>
                                </li>
                                {%- for childGenre in childGenres -%}
                                    {% set genreUrl = childGenre.pathPrefix ~ '/' ~ locale_field(childGenre, 'slug') %}
                                    <li><a href="/{{ genreUrl }}">{{ locale_field(childGenre, 'title') }}</a></li>
                                {%- endfor -%}
                            </ul>
                        </div>
                        {% if menu_genre_books and menu_genre_books[parentGenre.id] is defined %}
                            {% set menu_book = menu_genre_books[parentGenre.id] %}
                            <div class="fetch-book2">
                                <div class="h4">{{ 'front.featured_menu_book'|trans }}</div>
                                <figure>
                                    {% if menu_book.coverPath %}
                                        <a href="/{{ menu_book.path }}">
                                            <img src="{{ menu_book.coverPath|imagine_filter('book_list') }}" alt="{{ menu_book.title }}">
                                        </a>
                                    {% endif %}
                                </figure>
                                <div class="text">
                                    <div class="h6">
                                        <a href="/{{ menu_book.path }}">{{ menu_book.title }}</a>
                                    </div>
                                    {% set author = menu_book.authors|first %}
                                    {% if author %}
                                        <div class="h5">
                                            <a href="/{{ author.path }}">{{ author.fullName }}</a>
                                        </div>
                                    {% endif %}
                                    <p>{{ menu_book.annotation|striptags|truncate(320) }}</p>
                                    <a class="btn-1" href="/{{ menu_book.path }}">{{ 'front.read'|trans }}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
