<!--GENRES WRAP START-->
<div class="categories-menu">
    <span>{{ 'front.genres'|trans }}</span>
    <i class="fa fa-reorder show"></i>
    <ul class="categories-ul">
        {% for parentGenre in parentGenres %}
            <li><a href="#"><i class="fa fa-book"></i>{{ parentGenre.title }}</a>
                <!--MEGA MENU START-->
                <div class="mega-menu1">
                    <div class="fetch-bookmeta">
                        <ul>
                            <li class="fetch-book2">
                                <h4>{{ 'front.genres'|trans }}</h4>
                            </li>
                            {% set childGenres = genres[parentGenre.id] %}
                            {%- for childGenre in childGenres -%}
                                {% set genreUrl = childGenre.pathPrefix ~ '/' ~ childGenre.slug %}
                                <li><a href="/{{ genreUrl }}">{{ childGenre.title }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {#<div class="fetch-book2">#}
                        {#<h4>Featured BOOK</h4>#}
                        {#<figure>#}
                            {#<img src="{{ asset('compiled/images/extra-images/featured-4.jpg') }}" alt="">#}
                            {#<figcaption>#}
                                {#<span class="pricelable">#}
                                    {#Genre#}
                                {#</span>#}
                            {#</figcaption>#}
                        {#</figure>#}
                        {#<div class="text">#}
                            {#<h6>He LIE TREE</h6>#}
                            {#<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laud rem.</p>#}
                            {#<a class="btn-1" href="#">read more</a>#}
                            {#<a class="btn-1 active" href="#">purchase</a>#}
                        {#</div>#}
                    {#</div>#}
                </div>
                <!--MEGA MENU END-->
            </li>
        {% endfor %}
    </ul>
</div>
<!--GENRES WRAP END-->
