{% extends "@App/layout.html.twig" %}

{% block body %}
<div class="kf_content_wrap">
    <div class="product-detail1">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <!--BOOK VIEW WRAP START-->
                        <div class="book-view book-view2">
                            <div class="row">
                                <div class="col-md-6">
                                    <!--BOOK VIEW THUMB START-->
                                    <div class="thumb">
                                        <div class="thumb-slider">
                                            {% if book.cover_path %}
                                                <ul class="bxslider1">
                                                    <li><img src="{{ book.cover_path|imagine_filter('book_full') }}" alt="" /></li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!--BOOK VIEW THUMB END-->
                                </div>
                                <div class="col-md-5">
                                    <!--BOOK TEXT START-->
                                    <div class="book-text">
                                        <!--BOOK HEADING START-->
                                        <div class="book-heading book-padding">
                                            <span>{{ ('front.book.type_' ~ book.book_type)|trans }}</span>
                                            <h3>{{ book.title }}</h3>
                                        </div>
                                        <!--BOOK HEADING END-->
                                        <div class="book-tags-wrap book-padding">
                                            <ul class="book-tags">
                                                <li><span>{{ 'front.author'|trans }}:</span></li>
                                                <li>
                                                    {% for author in book.authors %}
                                                        <a href="/{{ author.path }}">{{ author.full_name }}</a>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                            {% if book.tags|length > 0 %}
                                                <ul class="book-tags">
                                                    <li><span>{{ 'front.tags'|trans }}:</span></li>
                                                    <li>
                                                        {% for tag in book.tags %}
                                                            <a href="/{{ tag.path }}">{{ tag.title }}</a>
                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                            {% endif %}
                                            <ul class="book-tags">
                                                <li><span>{{ 'front.genres'|trans }}:</span></li>
                                                <li>
                                                    {% for genre in book.genres %}
                                                        <a href="/{{ genre.path }}">{{ genre.title }}</a>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                            {% if book.date is defined %}
                                                <ul class="book-tags">
                                                    <li><span>{{ 'front.year'|trans }}:</span></li>
                                                    <li><a>{{ book.date|date('Y') }}</a></li>
                                                </ul>
                                            {% endif %}
                                            <ul class="social-1">
                                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-yahoo"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                        <!--BOOK TAGS END-->
                                    </div>
                                    <!--BOOK TEXT END-->
                                </div>
                            </div>
                        </div>
                        <!--BOOK VIEW WRAP END-->
                    </div>
                    <aside class="col-md-3">
                        {% include "@App/Elements/featured_books_aside.html.twig" %}
                    </aside>
                </div>
                <!--BOOK TABS 2 WRAP START-->
                <div class="book-tabs2">
                    <ul class="nav nav-tabs books-tab" role="tablist">
                        <li role="presentation" class="active"><a href="#annotation" aria-controls="annotation" role="tab" data-toggle="tab">{{ 'front.book.annotation'|trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="annotation">
                            {{ book.annotation|raw }}
                        </div>
                    </div>
                </div>
                <!--BOOK TABS 2 WRAP END-->
            </div>
        </div>
        {% include "@App/Elements/featured_books_slider.html.twig" %}
    </div>
</div>
{% endblock %}