{% extends "@App/layout.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.star-rating-svg.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/es5-shims.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/share.js') }}"></script>
    <script src="{{ asset('bundles/app/js/book-page.js') }}"></script>
    <script>
        {% set userRatingAdd = user_book_rating ? 0 : 1 %}
        var userRatingText  = "{{ 'front.user_rating'|trans }}";
        var votesTotalText  = "{{ 'front.vote'|transchoice(book_rating_data['total'] + userRatingAdd) }}";
        var bookRating      = {{ book_rating_data['rating'] }};
        var bookRatingTotal = {{ book_rating_data['total'] }};
        var bookId          = {{ book.book_id }};
        {% if app.user.id is defined %}
            var bookRatingPath = "{{ path('add_book_rating') }}";
            var bookReviewPath = "{{ path('add_book_review') }}";
            var bookReviewMsg  = "{{ 'front.book_review_added'|trans }}";
        {% endif %}
    </script>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Book",
        "name": "{{ book.title }}",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "{{ book_rating_data['rating'] }}",
            "bestRating": "5",
            "worstRating": "0",
            "ratingCount": "{{ book_rating_data['total'] }}"
        }
    }
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/star-rating-svg.css') }}" />
{% endblock %}

{% block body %}
<div class="kf_content_wrap">
    <div class="product-detail1">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="book-view book-view2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="thumb">
                                        <div class="thumb-slider">
                                            <ul class="bxslider1">
                                                <li>
                                                    <img src="{{ book.cover_path is defined and book.cover_path
                                                    ? book.cover_path|imagine_filter('book_full')
                                                    : asset('compiled/images/no-cover.jpg') }}" alt="{{ book.title }}" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="book-text">
                                        <div class="book-heading book-padding">
                                            <h3>{{ book.title }}</h3>
                                            <div itemscope itemtype="http://schema.org/Book">
                                                <div class="book-review"
                                                     itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                                    <div class="book-rating{% if app.user.id is not defined %} disabled{% endif %}"></div>
                                                    <div class="rating-value" itemprop="ratingValue">{{ book_rating_data['rating'] ? book_rating_data['rating'] : '' }}</div>
                                                    <div class="book-rating-votes-total">
                                                        <span class="rating-total-value" itemprop="ratingCount">
                                                            {{ book_rating_data['total'] ? book_rating_data['total'] : '' }}
                                                        </span>
                                                        <span class="rating-total-text">
                                                            {{ book_rating_data['total'] ? ' ' ~ 'front.vote'|transchoice(book_rating_data['total']) : '' }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="book-user-rating">{{ user_book_rating ? 'front.user_rating'|trans ~ ': ' ~ user_book_rating : '' }}</div>
                                            <ul class="blog-meta">
                                                <li>{{ reviews|length ~ ' ' ~ 'front.review'|transchoice(reviews|length) }}</li>
                                            </ul>
                                        </div>
                                        <div class="book-tags-wrap book-padding">
                                            <ul class="book-tags">
                                                <li><span>{{ 'front.author'|trans }}:</span></li>
                                                <li>
                                                    {% for author in book.authors %}
                                                        <a href="/{{ author.path }}">{{ author.full_name }}</a>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                            {% if book.tags|length > 0 %}
                                                <ul class="book-tags">
                                                    <li><span>{{ 'front.tags'|trans }}:</span></li>
                                                    <li>
                                                        {% for tag in book.tags %}
                                                            <a href="/{{ tag.path }}">{{ tag.title }}</a>
                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                            {% endif %}
                                            {% if book.genres|length > 0 %}
                                                <ul class="book-tags">
                                                    <li><span>{{ 'front.genres'|trans }}:</span></li>
                                                    <li>
                                                        {% for genre in book.genres %}
                                                            <a href="/{{ genre.path }}">{{ genre.title }}</a>
                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                            {% endif %}
                                            {% if book.sequence %}
                                                <ul class="book-tags">
                                                    <li><span>{{ 'front.sequence'|trans }}:</span></li>
                                                    <li>
                                                        <a href="/{{ book.sequence.path }}">
                                                            {{- book.sequence.name -}}
                                                            {%- if book.sequence_number -%}
                                                                {{ 'front.number_in_sequence'|trans({
                                                                    '%number%': book.sequence_number
                                                                }) }}
                                                            {%- endif -%}
                                                        </a>
                                                    </li>
                                                </ul>
                                            {% endif %}
                                            {% if book.date is defined %}
                                                <ul class="book-tags">
                                                    <li><span>{{ 'front.year'|trans }}:</span></li>
                                                    <li><a>{{ book.date|date('Y') }}</a></li>
                                                </ul>
                                            {% endif %}

                                            {% if download_links|length > 0 %}
                                                <ul class="book-tags">
                                                    <li><span>{{ 'front.download'|trans }}:</span></li>
                                                    {%- for link in download_links -%}
                                                        <li><a href="{{ link['url'] }}">{{ link['text'] }}</a></li>
                                                    {%- endfor -%}
                                                </ul>
                                            {% endif %}

                                            <div class="book-tags">
                                                <a class="btn-1" href="{{ read_link }}">{{ 'front.read_book'|trans }}</a>
                                            </div>

                                            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus" data-counter=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="col-md-3">
                        {% include "@App/Elements/featured_books_aside.html.twig" %}
                        {% if ad_side %}
                            <div class="ads__side">
                                {{ ad_side.code|raw }}
                            </div>
                        {% endif %}
                    </aside>
                </div>
                <div class="book-tabs2">
                    <ul class="nav nav-tabs books-tab" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#annotation" aria-controls="annotation" role="tab" data-toggle="tab">{{ 'front.book.annotation'|trans }}</a>
                        </li>
                        <li role="presentation">
                            <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">{{ 'front.book.reviews'|trans }}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="annotation">
                            {{ book.annotation|raw }}
                            {% if book.city_published and
                                book.publisher and
                                book.year_published and
                                book.isbn %}
                                <p>{{ 'front.book_published'|trans({
                                    '%city%': book.city_published,
                                    '%publisher%': book.publisher,
                                    '%year%': book.year_published,
                                    '%isbn%': book.isbn,
                                }) }}</p>
                            {% endif %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="reviews">
                            {% if reviews %}
                                <div class="commenting-wrap-1 cutomer-reviews">
                                    <h3>{{ 'front.book.reviews'|trans }}</h3>
                                    <ul>
                                        {% for review in reviews %}
                                            <li>
                                                <div class="commenting-dec">
                                                    {% if review.user.picture %}
                                                        <figure>
                                                            <img src="{{ review.user.picture }}" alt="{{ review.user.fullName }}">
                                                        </figure>
                                                    {% endif %}
                                                    <div class="text">
                                                        <div class="commenting-hd">
                                                            <h5>{{ review.user.fullName }}</h5>
                                                            <div class="cutomer-rating">
                                                                <p>{{ review.createdOn|date("d M Y g:ia") }}</p>
                                                            </div>
                                                        </div>
                                                        <p>{{ review.text }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if app.user %}
                                <div class="contact-wrap cutomer-reviews">
                                    <h3>{{ 'front.post_review_text'|trans }}</h3>
                                    <span class="review-flush-msg"></span>
                                    <form id="review-form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-dec3 before-adj">
                                                    <textarea class="review-text" placeholder="{{ 'front.minimum_chars'|trans({
                                                        '%chars%': review_minimum_char
                                                    }) }}"></textarea>
                                                    <i class="fa fa-file-text-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn-2 send-review-btn disabled" disabled="disabled">
                                            {{ 'front.send'|trans }}
                                        </button>&nbsp;
                                        <span class="review-counter">{{ review_minimum_char }}</span>
                                    </form>
                                </div>
                            {% else %}
                                <span>{{ 'front.please_login'|trans|raw }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if ad_bottom %}
            <div class="ads__bottom">
                {{ ad_bottom.code|raw }}
            </div>
        {% endif %}
        {% include "@App/Elements/featured_books_slider.html.twig" %}
    </div>
</div>
{% endblock %}