{% extends "@App/layout.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery.selectric.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/book-list-page.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/selectric.css') }}" />
{% endblock %}

{% block body %}
    <div class="kf_content_wrap">
        <div class="grid-4">
            <div class="grid3-page">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-3">
                            {{ side_menu()|raw }}
                            {{ ad_by_position(constant('AppBundle\\Entity\\Ads::POSITION_CATALOG_SIDE'))|raw }}
                            {{ init_sape()|raw }}
                        </aside>
                        <div class="col-md-9">
                            {{ ad_by_position(constant('AppBundle\\Entity\\Ads::POSITION_CATALOG_TOP'))|raw }}
                            <div class="main-content">
                                {% if view == 'column' %}
                                    {% include '@App/Elements/View/column.html.twig' %}
                                {% elseif view == 'list' %}
                                    {% include '@App/Elements/View/list.html.twig' %}
                                {% elseif view == 'grid' %}
                                    {% include '@App/Elements/View/grid.html.twig' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}