{% extends "@App/layout.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery.selectric.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/book-list-page.js') }}"></script>
    {#<script src="{{ asset('bundles/app/js/range-slider.js') }}"></script>#}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/selectric.css') }}" />
    {#<link rel="stylesheet" href="{{ asset('bundles/app/css/range-slider.css') }}" />#}
{% endblock %}

{% block body %}
    <div class="kf_content_wrap">
        <div class="grid-4">
            <div class="grid3-page">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-3">
                            {{ side_menu()|raw }}
                            {% if ad_side %}
                                <div class="ads__side">
                                    {{ ad_side.code|raw }}
                                </div>
                            {% endif %}
                        </aside>
                        <div class="col-md-9">
                            {% if ad_top %}
                                <div class="ads__top">
                                    {{ ad_top.code|raw }}
                                </div>
                            {% endif %}
                            <div class="main-content">
                                {% if view == 'column' %}
                                    {% include '@App/Elements/View/column.html.twig' %}
                                {% elseif view == 'list' %}
                                    {% include '@App/Elements/View/list.html.twig' %}
                                {% elseif view == 'grid' %}
                                    {% include '@App/Elements/View/grid.html.twig' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}