{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('bundles/app/js/range-slider.js') }}"></script>#}
    <script src="{{ asset('bundles/app/js/book-list-page.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bundles/app/css/range-slider.css') }}" />#}
{% endblock %}


{% block body %}
    <div class="kf_content_wrap">
        <div class="error-wrap">
            <form id="search" action="{{ path('search') }}">
                <div class="input-dec2">
                    <input type="text" name="query" id="search-query" autofocus
                           placeholder="{{ 'front.search'|trans }}" value="{{ query|default('') }}">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}