{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/book-list-page.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="kf_content_wrap">
        <div class="grid-4">
            <div class="grid3-page">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-3">
                            {{ side_menu()|raw }}
                        </aside>
                        <div class="col-md-9">
                            <div class="main-content">
                                {% if tags|length > 0 %}
                                    <div class="widget widget-tags">
                                        <div class="aside-widget-hd">
                                            <h4>{{ 'front.tags'|trans }}</h4>
                                        </div>
                                        <div class="widget-padding">
                                            <ul>
                                                {% for tag in tags %}
                                                    <li>
                                                        <a href="/{{ tag[0].path }}">
                                                            {{ tag[0].title }} ({{ tag.count_books }})
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}