{% extends "@App/layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="kf_content_wrap">
    <div class="product-detail1">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <!--BOOK VIEW WRAP START-->
                        <div class="book-view book-view2">
                            <div class="row">
                                <div class="col-md-6">
                                    <!--BOOK VIEW THUMB START-->
                                    <div class="thumb">
                                        <div class="thumb-slider">
                                            {% if book.cover_path %}
                                                <ul class="bxslider1">
                                                    <li><img src="{{ book.cover_path|imagine_filter('book_list') }}" alt="" /></li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!--BOOK VIEW THUMB END-->
                                </div>
                                <div class="col-md-5">
                                    <!--BOOK TEXT START-->
                                    <div class="book-text">
                                        <!--BOOK HEADING START-->
                                        <div class="book-heading book-padding">
                                            <span>{{ ('front.book.type_' ~ book.book_type)|trans }}</span>
                                            <h3>{{ book.title }}</h3>
                                            {% if book.rating > 0 %}
                                                <div class="book-review">
                                                    {{ 'front.book.rating'|trans }}
                                                    {{ book.rating }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <!--BOOK HEADING END-->
                                        <!--BOOK DESCRIPTION START-->
                                        <div class="book-description book-padding">
                                            <span>{{ 'front.author'|trans }}</span>
                                            <li>
                                                {% for author in book.authors %}
                                                    <a href="/{{ author.path }}">{{ author.full_name }}</a>
                                                {% endfor %}
                                            </li>
                                        </div>
                                        <div class="book-tags-wrap book-padding">
                                            <ul class="book-tags">
                                                <li><span>{{ 'front.tags'|trans }}:</span></li>
                                                <li>
                                                    {% for tag in book.tags %}
                                                        <a href="/{{ tag.path }}">{{ tag.title }}</a>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                            <ul class="book-tags">
                                                <li><span>{{ 'front.genres'|trans }}:</span></li>
                                                <li>
                                                    {% for genre in book.genres %}
                                                        <a href="/{{ genre.path }}">{{ genre.title }}</a>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                            <ul class="social-1">
                                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-yahoo"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                        <!--BOOK TAGS END-->
                                    </div>
                                    <!--BOOK TEXT END-->
                                </div>
                            </div>
                        </div>
                        <!--BOOK VIEW WRAP END-->
                    </div>
                    <aside class="col-md-3">
                        <!--WIDGET FEATURESD START-->
                        <div class="widget widget-featured">
                            <!--WIDGET HEADING START-->
                            <div class="aside-widget-hd">
                                <h5>{{ 'front.related'|trans }}</h5>
                            </div>
                            <!--WIDGET HEADING END-->
                            <div class="widget-padding">
                                {% for i in 1..4 %}
                                    <!--FEATURED START-->
                                    <div class="featured-dec3">
                                        <figure>
                                            {% if book.cover_path %}
                                                <img src="{{ book.cover_path }}" alt=""/>
                                            {% endif %}
                                        </figure>
                                        <div class="text">
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <a href="/{{ book.path }}">{{ book.title }}</a>
                                        </div>
                                    </div>
                                    <!--FEATURED END-->
                                {% endfor %}
                            </div>
                        </div>
                        <!--WIDGET FEATURESD END-->
                    </aside>
                </div>
                <!--BOOK TABS 2 WRAP START-->
                <div class="book-tabs2">
                    <ul class="nav nav-tabs books-tab" role="tablist">
                        <li role="presentation" class="active"><a href="#annotation" aria-controls="annotation" role="tab" data-toggle="tab">{{ 'front.book.annotation'|trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="annotation">
                            {{ book.annotation|raw }}
                        </div>
                    </div>
                </div>
                <!--BOOK TABS 2 WRAP END-->
            </div>
        </div>
        <section>
            <div class="container">
                <div class="heading-inner">
                    <h2>{{ 'front.related_books'|trans }}</h2>
                </div>
                <!--BOOK RELATED START-->
                <div class="tabs-slider-wrap tabs-slider-wrap6">
                    <div class="owl-carousel owl-theme" id="tabs-slider7">
                        {% for i in 1..6 %}
                            <!--BOOK START-->
                            <div class="item">
                                <div class="book-tab-dec">
                                    <figure>
                                        {% if book.cover_path %}
                                            <img src="{{ book.cover_path }}" alt=""/>
                                        {% endif %}
                                    </figure>
                                    <div class="text">
                                        {% if book.genres is defined and book.genres %}
                                            {% set genre = book.genres|first %}
                                            <small>{{ genre.title }}</small>
                                        {% endif %}
                                        <h5><a href="/{{ book.path }}">{{ book.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            <!--BOOK END-->
                        {% endfor %}
                    </div>
                </div>
                <!--BOOK RELATED END-->
            </div>
        </section>
    </div>
</div>
{% endblock %}