{% extends "@App/layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/profile.css') }}" />
{% endblock %}

{% block body %}
    <div class="kf_content_wrap">
        <div class="grid-4">
            <div class="container">
                <div class="col-md-12">
                    <div class="profile">
                        <ul>
                            <li class="col-md-3 col-sm-3">
                                <a href="{{ path('user_profile_ratings') }}" class="profile-menu">
                                    {{ 'front.profile.my_ratings'|trans }}
                                </a>
                            </li>
                            <li class="col-md-3 col-sm-3">
                                <a href="{{ path('user_profile_reviews') }}" class="profile-menu">
                                    {{ 'front.profile.my_reviews'|trans }}
                                </a>
                            </li>
                            <li class="col-md-3 col-sm-3">
                                <a href="{{ path('user_profile_statistics') }}" class="profile-menu">
                                    {{ 'front.profile.statistics'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}